--
-- PostgreSQL database dump
--

\restrict gcsrz0PCslq92dL5mjf6EliKRI52704JHckgMDDnUIdcn0Pc1ikhEmH07aXFom7

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: matrixmatch
--

CREATE TABLE public.app_settings (
    setting_key character varying(100) NOT NULL,
    setting_value character varying(500) NOT NULL
);


ALTER TABLE public.app_settings OWNER TO matrixmatch;

--
-- Name: comparison_history; Type: TABLE; Schema: public; Owner: matrixmatch
--

CREATE TABLE public.comparison_history (
    history_id integer NOT NULL,
    researcher_id integer NOT NULL,
    keywords text NOT NULL,
    user_abstract text NOT NULL,
    academic_program_filter character varying(255) NOT NULL,
    similarity_threshold numeric(5,2) NOT NULL,
    top_matches text NOT NULL,
    gap_analysis text,
    feature_matrix text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.comparison_history OWNER TO matrixmatch;

--
-- Name: comparison_history_history_id_seq; Type: SEQUENCE; Schema: public; Owner: matrixmatch
--

CREATE SEQUENCE public.comparison_history_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comparison_history_history_id_seq OWNER TO matrixmatch;

--
-- Name: comparison_history_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: matrixmatch
--

ALTER SEQUENCE public.comparison_history_history_id_seq OWNED BY public.comparison_history.history_id;


--
-- Name: document_key_features; Type: TABLE; Schema: public; Owner: matrixmatch
--

CREATE TABLE public.document_key_features (
    feature_id integer NOT NULL,
    document_id integer NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    label character varying(200) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.document_key_features OWNER TO matrixmatch;

--
-- Name: document_key_features_feature_id_seq; Type: SEQUENCE; Schema: public; Owner: matrixmatch
--

CREATE SEQUENCE public.document_key_features_feature_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_key_features_feature_id_seq OWNER TO matrixmatch;

--
-- Name: document_key_features_feature_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: matrixmatch
--

ALTER SEQUENCE public.document_key_features_feature_id_seq OWNED BY public.document_key_features.feature_id;


--
-- Name: documents; Type: TABLE; Schema: public; Owner: matrixmatch
--

CREATE TABLE public.documents (
    document_id integer NOT NULL,
    title character varying(500) NOT NULL,
    abstract text NOT NULL,
    academic_program character varying(255),
    authors character varying(500),
    key_features text,
    research_field text,
    research_field_other text,
    source_file_path text
);


ALTER TABLE public.documents OWNER TO matrixmatch;

--
-- Name: documents_document_id_seq; Type: SEQUENCE; Schema: public; Owner: matrixmatch
--

CREATE SEQUENCE public.documents_document_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.documents_document_id_seq OWNER TO matrixmatch;

--
-- Name: documents_document_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: matrixmatch
--

ALTER SEQUENCE public.documents_document_id_seq OWNED BY public.documents.document_id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: matrixmatch
--

CREATE TABLE public.password_reset_tokens (
    token_hash character(64) NOT NULL,
    researcher_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used_at timestamp without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO matrixmatch;

--
-- Name: users; Type: TABLE; Schema: public; Owner: matrixmatch
--

CREATE TABLE public.users (
    researcher_id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password character varying(100) NOT NULL,
    role character varying(20) DEFAULT 'Researcher'::character varying NOT NULL,
    registered_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    must_change_password smallint DEFAULT 0 NOT NULL,
    is_active smallint DEFAULT 1 NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['Admin'::character varying, 'Researcher'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO matrixmatch;

--
-- Name: users_researcher_id_seq; Type: SEQUENCE; Schema: public; Owner: matrixmatch
--

CREATE SEQUENCE public.users_researcher_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_researcher_id_seq OWNER TO matrixmatch;

--
-- Name: users_researcher_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: matrixmatch
--

ALTER SEQUENCE public.users_researcher_id_seq OWNED BY public.users.researcher_id;


--
-- Name: comparison_history history_id; Type: DEFAULT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.comparison_history ALTER COLUMN history_id SET DEFAULT nextval('public.comparison_history_history_id_seq'::regclass);


--
-- Name: document_key_features feature_id; Type: DEFAULT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.document_key_features ALTER COLUMN feature_id SET DEFAULT nextval('public.document_key_features_feature_id_seq'::regclass);


--
-- Name: documents document_id; Type: DEFAULT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.documents ALTER COLUMN document_id SET DEFAULT nextval('public.documents_document_id_seq'::regclass);


--
-- Name: users researcher_id; Type: DEFAULT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.users ALTER COLUMN researcher_id SET DEFAULT nextval('public.users_researcher_id_seq'::regclass);


--
-- Data for Name: app_settings; Type: TABLE DATA; Schema: public; Owner: matrixmatch
--

COPY public.app_settings (setting_key, setting_value) FROM stdin;
research_field_migrated	1
feature_descriptions_migrated	1
document_key_features_migrated	1
\.


--
-- Data for Name: comparison_history; Type: TABLE DATA; Schema: public; Owner: matrixmatch
--



--
-- Data for Name: document_key_features; Type: TABLE DATA; Schema: public; Owner: matrixmatch
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: matrixmatch
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: matrixmatch
--

COPY public.password_reset_tokens (token_hash, researcher_id, created_at, expires_at, used_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: matrixmatch
--



--
-- Name: comparison_history_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: matrixmatch
--

SELECT pg_catalog.setval('public.comparison_history_history_id_seq', 8, true);


--
-- Name: document_key_features_feature_id_seq; Type: SEQUENCE SET; Schema: public; Owner: matrixmatch
--

SELECT pg_catalog.setval('public.document_key_features_feature_id_seq', 611, true);


--
-- Name: documents_document_id_seq; Type: SEQUENCE SET; Schema: public; Owner: matrixmatch
--

SELECT pg_catalog.setval('public.documents_document_id_seq', 79, true);


--
-- Name: users_researcher_id_seq; Type: SEQUENCE SET; Schema: public; Owner: matrixmatch
--

SELECT pg_catalog.setval('public.users_researcher_id_seq', 15, true);


--
-- Name: app_settings app_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_pkey PRIMARY KEY (setting_key);


--
-- Name: comparison_history comparison_history_pkey; Type: CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.comparison_history
    ADD CONSTRAINT comparison_history_pkey PRIMARY KEY (history_id);


--
-- Name: document_key_features document_key_features_pkey; Type: CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.document_key_features
    ADD CONSTRAINT document_key_features_pkey PRIMARY KEY (feature_id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (document_id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (token_hash);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (researcher_id);


--
-- Name: ix_document_key_features_document_id; Type: INDEX; Schema: public; Owner: matrixmatch
--

CREATE INDEX ix_document_key_features_document_id ON public.document_key_features USING btree (document_id);


--
-- Name: ix_password_reset_tokens_researcher; Type: INDEX; Schema: public; Owner: matrixmatch
--

CREATE INDEX ix_password_reset_tokens_researcher ON public.password_reset_tokens USING btree (researcher_id);


--
-- Name: comparison_history comparison_history_researcher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.comparison_history
    ADD CONSTRAINT comparison_history_researcher_id_fkey FOREIGN KEY (researcher_id) REFERENCES public.users(researcher_id);


--
-- Name: document_key_features document_key_features_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.document_key_features
    ADD CONSTRAINT document_key_features_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(document_id) ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_researcher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: matrixmatch
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_researcher_id_fkey FOREIGN KEY (researcher_id) REFERENCES public.users(researcher_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict gcsrz0PCslq92dL5mjf6EliKRI52704JHckgMDDnUIdcn0Pc1ikhEmH07aXFom7

